<table class = 'table'>
  
  <caption id='caption'>
    Inventory Updates(
    <%= @begin_date.strftime('%b. %d(%a)') %> - Now
    <%= link_to '[ ]', inventory_items_path(picker: '_'), method: 'get' %> )<br>
    order:
    <%= @order.nil? ? 'updated last' : @order %>
    <hr>
  </caption>
  
  <thead>
    <tr>
      <th>
        Item
        <%= link_to "\u21C5".encode('utf-8'), inventory_items_path(order: next_order(@order)), method: 'get' %>
      </th>
      
      <th>Muntingpulo</th>

      <th>Sampaguita</th>

      <th>Stock</th>
      
      <th>Category</th>
    </tr>
  </thead>

  <% @items.each do |item| %>
    <% muntingpulo, sampaguita = check_out_sum_of(item) %>
    <tbody>
      <tr>
        <td>
          <%= link_to item.name, inventory_item_path(item), method: 'get' %>
        </td>

        <td>
          <%= ommit_zero_decimal(muntingpulo) %>
        </td>
        
        <td>
          <%= ommit_zero_decimal(sampaguita) %>
        </td>
        
        <td>
          <% if below_margin(item) %>
            <em style="color: red;">
              <%= smart_coerce(item.stock, item.unit) %>
            </em>
          <% else %>
            <%= smart_coerce(item.stock, item.unit) %>
          <% end %>
        </td>

        <td><%= item.item_type %></td>
      </tr>
    </tbody>
  <% end %>
</table>
