<h3 style="color: rgb(111, 240, 25);">
  <strong>
    <% if user_is_principal %>
      <%= link_to @item.name, edit_inventory_item_path(@item), method: 'get' %>
    <% else %>
      <%= @item.name %>
    <% end %>
  </strong>
</h3><br>
  
<table class='table'>
  <caption>Check-Out History</caption>
  
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>

      <% if user_is_principal %>
        <th>Branch</th>
        <th>Admin</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @check_outs.all.each do |check_out| %>
      <% update = InventoryUpdate.find(check_out.inventory_update_id) %>
      <% author = User.find(update.user_id) %>
      
      <% next if is_invalid(update) || (user_is_admin && author != current_user) %>
      
      <tr>
        <td>
          <%= check_out.updated_at.strftime("%a, %b. %d") %>
        </td>
        
        <td>
          <%= ommit_zero_decimal(check_out.amount) %>
          <%= @item.unit %>
        </td>

        <% if user_is_principal %>
          <td>
            <%= author.branch %>
          </td>
          
          <td>
            <%= author.username %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
