<%= simple_form_for @update do |f| %>
  <%= f.error_notification %>

  <div class="container">
    <div style="float:left">
      <%= f.input :note, label: false, :input_html => {:rows => 1, :columns => 5}, placeholder: 'Add note here...'%>
    </div>
    <div style="float:right">
      <% if user_is_principal %>
        <%= f.input :updated_branch, label: 'Check-out Branch', collection: ['Muntingpulo', 'Sampaguita'], placeholder: 'Select Check Out Branch'%>
      <% else %>
        <%= f.hidden_field :updated_branch, value: current_user.branch %>
      <% end %>
    </div>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Item</th>
        <th></th>
        <th></th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>
  
    <tbody class='fields'>
      <%= f.simple_fields_for :items do |builder| %>
        <%= render 'item', f: builder %>
      <% end %>
    </tbody>
  </table>
  
  <div class="form-actions">
    <div id="new_item" style="float: left;">
      <%= link_to_add_row('Add Item', f, :items, class: 'btn btn-primary') %>
    </div>
    <div style="float: right;">
       <%= f.button(:submit, "Check Out", class: 'btn btn-primary btn-secondary') %>
    </div>
  </div>

  <%= f.hidden_field :action, value: 'de-stock' %>
  <%= f.hidden_field :user_id, value: current_user.id %>
<% end %>
